<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap-modal -->
    <link href="/stylesheets/bootstrap-modal.css" rel="stylesheet">
    <link href="/stylesheets/comment.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-modal-bs3patch.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" nref="#" href="/">UCS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="login">ログイン</a></li>
        <li><a href="/reg">サインイン</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">メニュー<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">検索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.aida.t.u-tokyo.ac.jp/jp/">Aida Lab</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ユーザー<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
    </nav>


    <p><span class="demo1" id="demo1_yellow">comment me</span></p>
    <!--コンテキストメニュー-->
    <div class='contextMenu' id='myMenu1'>
      <ul>
        <li id='open'><img src='folder.gif' />コメント</li>
      </ul>
    </div>
    <!--コメント欄-->
    <div class="modal" id="myModal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>コメント</h3>
      </div>
      <div class="modal-body">
        <textarea id="circleCommentTextarea" class="circleCommentTextarea" placeholder="ここにコメントをかいてください"></textarea>
      </div>
      <div class="modal-footer">
        <a href="#" id="submit" class="btn btn-primary">投稿</a>
        <a href="#" class="btn">キャンセル</a>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-modalmanager.js"></script>
    <script src="/javascripts/bootstrap-modal.js"></script>
    <script src="/javascripts/contextMenu.js"></script>
    <script src="/javascripts/contextMenuModel.js"></script>
    <script src="/javascripts/uniqueSelector.js"></script>
  </body>
</html>





