<!DOCTYPE>
<html>
  <head>
  </head>
  <body>
    <span id="locatedpoint">ss</span>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function(){
          $('html').click(function(e){
            var x = e.pageX;
            var y = e.pageY;
            alert('X = ' + x + 'px, Y = ' + y + 'px');
            $('#locatedpoint').css({top:(y)+'px',left:(x)+'px',display:'block'}).attr('title','TOP : '+(y)+'px | LEFT : '+(x)+'px');
            });
          });
        </script>
      </body>

    </html>

